* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #151320;
  height: 100vh;
  /* display: grid; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  background-color: #1c1b29;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 20px;
}

.wrapper {
  width: 90%;
  /* Establecemos que el ancho sera del 90% */
  max-width: 1500px;
  /* Aqui le decimos que el ancho máximo sera de 1000px */
  margin: auto;
  /* Centramos los elementos */
  overflow: hidden;
  /* Eliminamos errores de float */
  height: 100px;
  color: #fff;
  font-size: 18px;
}

.title {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

.filters > p {
  display: block;
  padding-bottom: 10px;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
}

.filter-container {
  display: flex;
  width: 90px;
  background-color: #ffffff;
  justify-content: space-around;
  margin-right: 5px;
  margin-bottom: 5px;
}

.filterLink {
  text-decoration: none;
  text-align: center;
  color: #0e0250;
  font-size: 18px;
}

.filterLink-active {
  background-color: rgb(4, 110, 4);
  color: white;
  width: 100%;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 70% 30%;
}

.sections {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(2, 1fr);
}

.recentlyPost {
  padding-top: 60px;
}

/* .restPost {} */

.notMatch {
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  display: none;
}

.notMatch_activate {
  display: block;
}

.post-container-recently {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 100px;
  grid-gap: 40px;
}

.post-container-all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 20px;
  grid-gap: 40px;
}

.cardAll {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.cardRecent {
  background-color: #0e0250;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.details {
  padding: 20px 10px;
}

.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  margin: 10px 0 15px 0;
}

.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.btn-create {
  color: #ffffff;
  padding: 5px;
  background-color: green;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 15px;
}

.btn-like {
  margin-top: 10px;
  width: 80px;
  height: 20px;
  font-size: 15px;
  border-radius: 8px;
  margin-right: 5px;
  font-weight: 600;
  background-color: #2300e8;
  color: #ffffff;
}

.btn-delete {
  margin-top: 10px;
  width: 80px;
  height: 20px;
  font-size: 15px;
  border-radius: 8px;
  margin-right: 5px;
  font-weight: 600;
  background-color: red;
  color: #ffffff;
}

.btn-edit {
  margin-top: 10px;
  width: 80px;
  height: 20px;
  font-size: 15px;
  border-radius: 8px;
  margin-right: 5px;
  font-weight: 600;
  background-color: rgba(0, 128, 0, 0.823);
  color: #ffffff;
}
.btn-comment {
  margin-top: 10px;
  width: 90px;
  height: 20px;
  font-size: 15px;
  border-radius: 8px;
  margin-right: 5px;
  font-weight: 600;
  background-color: rgb(122, 122, 9);
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  body h1 {
    font-size: 25px;
  }

  .search_container {
    font-size: 12px;
  }

  .header {
    padding-bottom: 10px;
    font-size: 25px;
  }

  .cards {
    padding-top: 230px;
  }

  .btn-create {
    font-size: 12px;
    display: block;
    width: 60%;
    margin-top: 7px;
    margin-left: 0;
  }

  .filterLink {
    font-size: 15px;
  }
}

@media screen and (max-width: 860px) {
  body h1 {
    font-size: 30px;
  }

  .search_container {
    font-size: 11px;
  }
  .header {
    padding-bottom: 10px;
    font-size: 15px;
  }

  .navbar {
    /* display: grid;
      grid-template-rows: repeat(3, 1fr); */
    display: flex;
  }
  .cards {
    padding-top: 230px;
  }

  .btn-create {
    font-size: 12px;
    display: block;
    width: 60%;
    margin-top: 7px;
    margin-left: 0;
  }

  .filters {
    display: flex;
    font-size: 15px;
  }

  .filter-container {
    width: 60px;
    height: 25px;
    margin-top: 10px;
  }

  .filterLink {
    font-size: 12px;
  }
}

@media screen and (max-width: 725px) {
  body h1 {
    font-size: 20px;
    padding: 10px;
  }

  .search_container {
    font-size: 10px;
  }

  .header {
    padding-bottom: 10px;
  }

  .navbar {
    display: flex;
  }

  .cards {
    padding-top: 170px;
  }
  .btn-create {
    font-size: 10px;
    display: block;
    width: 60%;
    margin-top: 7px;
    margin-left: 0;
  }

  .filters {
    display: flex;
    font-size: 11px;
  }

  .filter-container {
    width: 50px;
    height: 25px;
    margin-top: 10px;
  }

  .filterLink {
    font-size: 10px;
  }
}

@media screen and (max-width: 660px) {
  body h1 {
    font-size: 18px;
    padding: 10px;
  }

  .wrapper2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  .navbar {
    margin-top: 0;
  }

  .filters {
    display: grid;
    font-size: 11px;
  }

  .search_container {
    display: grid;
    font-size: 10px;
  }
}
