* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #151320;
  height: 100vh;
  /* display: grid; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: #ffffff;
}

.form_label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.group_form_input {
  position: relative;
}

.form_input {
  width: 100%;
  background-color: white;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 60px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
  font-size: 20px;
}

.form_input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.form_input_err {
  font-size: 15px;
  margin-bottom: 0;
  display: none;
  margin-top: 5px;
}

.form_input_err_active {
  display: block;
}

.group_form_btn_send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group_form_back {
  padding-left: 29%;
}

.form_button {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #119200;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  margin-top: 35px;
}

.form_button_back {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #0075ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  margin-top: 35px;
}
.form_button_back_create {
  height: 45px;
  line-height: 45px;
  width: 20%;
  background: #0075ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  margin-top: 35px;
  margin-left: 19.7%;
}

.form_button_delete {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  margin-left: 15px;
}

.form_button:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.form_message_send {
  font-size: 20px;
  color: #119200;
  display: none;
  padding: 20px;
  margin-top: 30px;
}

.form_message_send_active {
  display: block;
}

.form_message {
  margin-top: 40px;
  height: 45px;
  line-height: 45px;
  background-color: #f66060;
  padding: 0 15px;
  /* padding Arriba y abajo */
  border-radius: 3px;
  display: none;
}

.form_message p {
  margin: 0;
}

.form_message_active {
  display: block;
}

.wrapper {
  width: 90%;
  /* Establecemos que el ancho sera del 90% */
  max-width: 1500px;
  /* Aqui le decimos que el ancho máximo sera de 1000px */
  margin: auto;
  /* Centramos los elementos */
  overflow: hidden;
  /* Eliminamos errores de float */
  height: 100px;
  color: #fff;
  font-size: 18px;
}

.title {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}

.img_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.img_container > img {
  width: 600px;
  height: auto;
  border-radius: 20px;
}

/* Styles for validation*/
.group_form_correct {
  color: #1ed12d;
  opacity: 1;
}

.group_form_correct .form_input {
  border: 3px solid #1ed12d;
}

.group_form_incorrect .form_label {
  color: #bb2929;
}

.group_form_incorrect {
  color: #bb2929;
  opacity: 1;
}

.group_form_incorrect .form_input {
  border: 3px solid #bb2929;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  margin-left: 5%;
}

.filter-container {
  display: flex;
  width: 120px;
  background-color: #ffffff;
  justify-content: space-around;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 30px;
}

.filterLink {
  text-decoration: none;
  text-align: center;
  color: #0e0250;
  font-size: 20px;
}

@media screen and (max-width: 660px) {
  .navbar {
    font-size: 10px;
    margin-top: 10px;
    display: none;
  }
  .filterLink {
    font-size: 11px;
  }
  .form_button {
    width: 250px;
  }
}
